# Independent Chi-Square

## Independent Chi-Squares are used to examine the influence of 2 categorical variables on each other.

## First, comparing product type and price categories.

## Import Packages

In [2]:
import pandas as pd
from scipy import stats

## Import Data

In [3]:
lipstick = pd.read_csv('lead_lipstick.csv')

In [5]:
lipstick.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

## Test Assumuptions

### The only assumption is that a contingency table created from the data has an expected frequency for each cell of at least 5 entries.

## Run the Analysis

### First, create a contingency table.

In [6]:
lipstick_crosstab = pd.crosstab(lipstick['prodType'], lipstick['priceCatgry'])
lipstick_crosstab

priceCatgry   1   2   3
prodType
LG           19  43  12
LP           34  92  23

### Running the Independent Chi-Square

In [7]:
stats.chi2_contingency(lipstick_crosstab)

Chi2ContingencyResult(statistic=0.2969891724608704, pvalue=0.8620046738525345, dof=2, expected_freq=array([[17.58744395, 44.79820628, 11.61434978],
       [35.41255605, 90.20179372, 23.38565022]]))

### Looks like all values are >5, so good to go. But the p-value is 0.86, so there is not really a significant influence on price by product type.

## Next, taking a look at shade of lipstick and price category.

### Contingency Table

In [8]:
lipstick_crosstab2 = pd.crosstab(lipstick['shade'], lipstick['priceCatgry'])
lipstick_crosstab2

priceCatgry   1   2   3
shade
Brown        20  30  10
Pink         20  49  12
Purple        8  23   6
Red           5  33   7

### Independent Chi-Square

In [9]:
stats.chi2_contingency(lipstick_crosstab2)

Chi2ContingencyResult(statistic=7.860569553614045, pvalue=0.2484973879479863, dof=6, expected_freq=array([[14.26008969, 36.32286996,  9.41704036],
       [19.25112108, 49.03587444, 12.71300448],
       [ 8.79372197, 22.39910314,  5.80717489],
       [10.69506726, 27.24215247,  7.06278027]]))

### Looks like this one just barely passes the test too. However, again, we see an insignificant p-value at 0.25.